<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Template</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="guessNumberApp">

<div ng-controller="mainCtrl">
    {{original}}
    <input type="text" ng-model="guess">
    <button ng-click="verifyGuess()" ng-disabled="disable">Verify Guess</button>
    <button ng-click="reset()">Reset</button>
    <br/>
    Hint: <label>{{deviation}}</label>
    <br/>
    Number of tries: <label>{{numberOfTries}}</label>
    <br/>
    <label>{{result}}</label>

</div>
</body>
</html>