<div>
    <h2>User Name: {{user.name}}</h2>

    <div>{{error}}</div>
    <div><img ng-src="{{user.avatar_url}}" title="{{user.name}}" height="40" width="40"></div>
    <h2> User Repos:</h2>
    <!--{{repos | json}}-->
    Order:
    <select ng-model='repoSortOrder'>
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
            </select>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
        <tbody>
            <tr ng-repeat="r in repos | orderBy:repoSortOrder">
                <td>{{r.name}}</td>
                <td>{{r.stargazers_count | number}}</td>
                <td>{{r.language}}</td>
            </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-default" href="#/main">Back to Search</a>